@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800&display=swap');

@import "~bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #000;
}

.nav-wrap {
  display: none;
  
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.card {
  background-color: #cc00ff;
  img {
    opacity: 0.8;
  }
}

.card-body {
  background-color: #fff;
}

.footer {
  background-color: #202429;
  color: #fff;
}