@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800&display=swap');

@import "~bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

.slogan {
  word-break: break-word;
}

.slider {
  &::after {
    content: '';
    background-image: url('assets/img/bike.background.png');
    background-position: center bottom;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
  }

  &::before {
    content: '';
    background-color: #b1d0ff;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

a {
  color: #000;
}

.nav-wrap {
  display: none;
  
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.card {
  background-color: #b1d0ff;
  img {
    opacity: 0.5;
  }
}

.card-body {
  background-color: #fff;
}

.footer {
  background-color: #202429;
  color: #fff;
}

@include media-breakpoint-down(md) {
  h1.display-4, h2.display-4 {
    font-size: 2rem;
  }
}